.form-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  margin: 15px;
  height: 83vh;
  width: 40%;
}

.form-container h2 {
  font-size: 30px;
  margin: 10px auto;
}

.add-expenses-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 25px;
  margin: 25px auto;
}

.layer {
  margin: 20px 0;
}

.add-expenses-form input {
  border-left: white;
  border-right: white;
  border-top: white;
  outline: none;
  font-size: 17px;
  max-width: 60%;
  margin: 0 13px;
}

.add-expenses-form select {
  background: transparent;
  border: 2px black solid;
  border-radius: 6px;
  font-size: 21px;
  outline: none;
}

.second-row {
  display: flex;
  flex-flow: row;
  width: 55%;
}

.second-row input {
  text-align: center;
  width: 30%;
}

.add-expenses-button {
  background-color: #b1192d;
  color: white;
  font-size: larger;
  margin: 20px 0;
  padding: 15px;
}

.add-expenses-button:hover {
  cursor: pointer;
}
