.report-container {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
  width: 65%;
  font-size: 17px;
  margin: auto;
  height: 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 2px black solid;
}

td {
  text-align: center;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}
