* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-image {
  min-width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6456f7;
}

.login-image img {
  max-height: 50vh;
}

.login-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  height: 100vh;
}

.title {
  display: flex;
  width: max-content;
  position: absolute;
  top: 10%;
}

.title h1 {
  font-size: 50px;
}

.title img {
  width: 64px;
}

.login-input {
  border: 3px black solid;
  border-radius: 6px;
  font-size: 30px;
  margin: 20px;
}

.login-label {
  font-size: 30px;
}

.button-container {
  margin: 10px;
}

.enabled-button {
  /* background-color: white; */
  border: none;
  border-radius: 7px;
  font-size: larger;
  height: 45px;
  width: 120px;
}

.enabled-button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.enabled-button:active {
  transform: scale(0.99);
}

.disabled-button {
  background-color: white;
  border: none;
  border-radius: 7px;
  font-size: larger;
  height: 35px;
  width: 100px;
}

.disabled-button:hover {
  cursor: not-allowed;
  transform: scale(1.03);
}