* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-image {
  min-width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6456f7;
}

.login-image img {
  max-height: 50vh;
}

.login-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  height: 100vh;
}

.title {
  display: flex;
  width: max-content;
  position: absolute;
  top: 10%;
}

.title h1 {
  font-size: 38px;
}

.title img {
  width: 40px;
}

.login-input {
  border: 3px black solid;
  border-radius: 6px;
  font-size: 18px;
  margin: 20px;
}

.login-label {
  font-size: 18px;
}

.button-container {
  margin: 10px;
}

.enabled-button {
  background-color: #16ad88;
  border-radius: 4px;
  font-size: 20px;
  height: 38px;
  width: 90px;
}

.enabled-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.enabled-button:active {
  transform: scale(0.97);
}

.disabled-button {
  background-color: #86dac5;
  border-radius: 4px;
  font-size: 20px;
  height: 38px;
  width: 90px;
}

.disabled-button:hover {
  cursor: not-allowed;
}
