@media (min-width: 600px) and (max-width: 1440px) {
  .wallet-page-content {
    height: 84vh;
  }

  .form-container {
    margin: 20px;
  }

  .form-container h2 {
    font-size: 25px;
    margin: 10px auto;
  }

  .add-expenses-form {
    font-size: 19px;
    margin: 25px auto;
  }

  .second-row {
    width: 70%;
  }

  .second-row input {
    text-align: center;
    width: 50%;
    max-width: 50%;
  }

  .add-expenses-button {
    font-size: 18px;
    margin: 8px 0;
    padding: 8px;
  }
}

@media (max-width: 600px) {
  .wallet-page-content {
    flex-flow: column;
  }

  .form-container {
    margin: 10px auto;
    max-width: 80%;
  }

  .form-container h2 {
    font-size: 20px;
  }

  .add-expenses-form {
    font-size: 15px;
  }

  .layer {
    margin: 8px;
  }

  .add-expenses-form input {
    font-size: 15px;
  }

  .add-expenses-form select {
    border: 1px black solid;
    border-radius: 6px;
    font-size: 13px;
  }

  .add-expenses-button {
    font-size: 12px;
    margin: 10px 0;
    padding: 15px;
  }

  .report-container {
    width: 98%;
    margin: 10px auto;
    font-size: 15px;
    height: 50vh;
  }
}
